// Color Code
$heading5: #93a5b1;
$linkcolor: #1994f9;
$rgbgray: rgba(2, 13, 60, 0.6);

// General settings
p {
  margin: 0;
}

// Blog article style
.blg {
  p {
    margin-top: 1.6rem;
    &:first-child {
      margin-top: 0.3em;
    }
  }

  a {
    color: $linkcolor;
  }

  ul {
    padding-left: 0;
    margin: 1.4rem 0;
    line-height: 1.7;
    & > li {
      list-style: none;
      list-style-position: inside;
      position: relative;
      padding-left: 1.6em;
      &:before {
        content: "";
        position: absolute;
        top: 0.7em;
        left: 0.35em;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $rgbgray;
      }
    }
  }
  ol {
    margin: 1.4rem 0;
    line-height: 1.7;
  }

  h {
    &2,
    &3,
    &4,
    &5 {
      margin: 2.3em 0 0.5em;
      font-weight: 600;
      line-height: 1.5;
      outline: 0;
    }
    &2 {
      padding-bottom: 0.2em;
      margin-bottom: 1.1rem;
      font-size: 1.5em;
      position: relative;
      border-bottom: 1px solid rgba(92, 147, 187, 0.17);
    }
    &3 {
      font-size: 1.25rem;
    }
    &4 {
      color: $heading5;
      font-size: 1em;
    }
    &5 {
      font-size: 0.85em;
      color: $heading5;
    }
  }
}

// List Item styles
li {
  margin-bottom: calc(0.6rem / 2);
}

.important {
  &-block {
    display: block !important;
  }
}
