name: Gatsby build dry run

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  pull_request:
    name: Pull Request dry run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # chache node_modules
      - name: Cache multiple paths
        uses: actions/cache@v2
        id: node_module_cache
        with: 
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      # Install Package
      - name: npm install
        run: |
          cd blog
          npm ci
      # Run build
      - name: npm build
        run: |
          cd blog/
          npm run build --if-present
      - name: npm textlint
        run: |
          npm run textlint